In [1]:
import pandas as pd
import glob
import os
from pathlib import Path

In [2]:
homedir=os.getenv("HOME")
notasdir=os.path.join(homedir,'Curso/notas')
notas_limpias_dir=os.path.join(homedir,'Curso/notas_limpias')
print(notasdir,notas_limpias_dir)
#Path.mkdir(notas_limpias_dir,parents=True,exist_ok=True)

/home/profesor/Curso/notas /home/profesor/Curso/notas_limpias

In [3]:
lista=os.path.join(homedir,"listaSS_2024.csv")
dflista=pd.read_csv(lista,delimiter=",",header=None,encoding='latin1')
dflista.columns=['Apellidos','Nombre','DNI','E-mail']
dflista.index=dflista["E-mail"]

dflista=dflista['DNI']
#print(dflista)

tabla={}
emails=[]
for index,val in dflista.items():
    #print(index)
    tabla[index]=val
    emails.append(index)
    
emails.sort()
print(emails)

['abodbro@teleco.upv.es', 'acammor1@teleco.upv.es', 'agomrui1@teleco.upv.es', 'aguialf@teleco.upv.es', 'aibacol@teleco.upv.es', 'ajimcas@edificacion.upv.es', 'alanbas@teleco.upv.es', 'alifriv@teleco.upv.es', 'allirtap@teleco.upv.es', 'allovil2@teleco.upv.es', 'amaresp2@teleco.upv.es', 'amiqfus@teleco.upv.es', 'aperlop2@teleco.upv.es', 'arobsal@teleco.upv.es', 'asancan2@teleco.upv.es', 'atabgar@teleco.upv.es', 'avaiksn@teleco.upv.es', 'azabolo@teleco.upv.es', 'balbben@teleco.upv.es', 'bfercol1@teleco.upv.es', 'cbencan@teleco.upv.es', 'cclabot@teleco.upv.es', 'ccosmir@teleco.upv.es', 'cferalo@teleco.upv.es', 'cgimmat@teleco.upv.es', 'clinche@teleco.upv.es', 'cmolcas@teleco.upv.es', 'dcamrui@teleco.upv.es', 'ddielaf@teleco.upv.es', 'dji@teleco.upv.es', 'dmillyu@teleco.upv.es', 'dnuesal@teleco.upv.es', 'dsorcol@ade.upv.es', 'dtavgra@teleco.upv.es', 'dtoribo@teleco.upv.es', 'fbegbeg@teleco.upv.es', 'fcargra@teleco.upv.es', 'fjgombaq@teleco.upv.es', 'gargagu@teleco.upv.es', 'gchiort@teleco.upv.es', 'gmuoqui@epsg.upv.es', 'gpagchi@etsinf.upv.es', 'grammol@teleco.upv.es', 'gvidtar@teleco.upv.es', 'iborroi@teleco.upv.es', 'idiadol@teleco.upv.es', 'iferjua@teleco.upv.es', 'igompic@teleco.upv.es', 'jcebmir@teleco.upv.es', 'jconara@teleco.upv.es', 'jcotmar@teleco.upv.es', 'jcresub@teleco.upv.es', 'jllotor@teleco.upv.es', 'jmgomalm@teleco.upv.es', 'jperalv@teleco.upv.es', 'jsertob@teleco.upv.es', 'jvalrod@teleco.upv.es', 'jvilsel@teleco.upv.es', 'jviltor2@teleco.upv.es', 'jvmorcal@teleco.upv.es', 'jvolmalb@teleco.upv.es', 'klaskev@teleco.upv.es', 'lkwiatk@teleco.upv.es', 'lsanrub@teleco.upv.es', 'maamogam@teleco.upv.es', 'mastoica@teleco.upv.es', 'mblamar@etsinf.upv.es', 'mcarber@teleco.upv.es', 'mcebsie@teleco.upv.es', 'mfordom@teleco.upv.es', 'mgardia@arq.upv.es', 'mivados@teleco.upv.es', 'mrmatnot@teleco.upv.es', 'mvilpra@teleco.upv.es', 'nchudic@teleco.upv.es', 'ngomtro@teleco.upv.es', 'nherrub@teleco.upv.es', 'nllosor@teleco.upv.es', 'nterala@teleco.upv.es', 'oanda@teleco.upv.es', 'pbosram@teleco.upv.es', 'pdomzur@teleco.upv.es', 'pferrui@teleco.upv.es', 'pgarmar5@teleco.upv.es', 'pmasdel@teleco.upv.es', 'pmatbol@teleco.upv.es', 'pmiqmol@teleco.upv.es', 'ppalmed@teleco.upv.es', 'psegmon@teleco.upv.es', 'pvilagu@teleco.upv.es', 'rfguelop@teleco.upv.es', 'rjimalb@etsii.upv.es', 'rlosbes@teleco.upv.es', 'rrieagu@teleco.upv.es', 'rsissan@teleco.upv.es', 'sdiamen@teleco.upv.es', 'skashen@teleco.upv.es', 'slin3@teleco.upv.es', 'solilop@teleco.upv.es', 'spuerob@teleco.upv.es', 'sripcig@teleco.upv.es', 'sruiper@teleco.upv.es', 'storram@teleco.upv.es', 'tstevla@teleco.upv.es', 'varonsan@teleco.upv.es', 'vatorcha@teleco.upv.es', 'vmelluz@teleco.upv.es', 'vmonrib@teleco.upv.es', 'vpercol@teleco.upv.es', 'vzarher@teleco.upv.es', 'xblagon@teleco.upv.es', 'xhu2@teleco.upv.es', 'xpallop@teleco.upv.es', 'ytarrui@teleco.upv.es', 'ztraagu@arq.upv.es']

In [4]:
#print(tabla)

In [5]:
def procesa_csv(csv_filename,notas_limpias_dir):

    nombre_columna=os.path.basename(csv_filename).replace(".csv","")
    print(nombre_columna)
    df=pd.read_csv(csv_filename)
    df2=df[ df['email'].notna()]
    df2.index=df2.email
    nameout=os.path.join(notas_limpias_dir, os.path.basename(csv_filename))
    df3=df2[['score','max_score','email']]
    df3['DNI']=""
    for index, row in df.iterrows():
        if row['email'] in tabla:
            row['DNI']=tabla[row['email']]
        else:
            print("NO en la lista:", row['email'])
    #print(">>>>>>>>>>>>>>>>>>")
    #print(df3['email'])
    #print(">>>>>>>>>>>>>>>>>>")
    #df3=df3[df3['email'].str.contains('upv.es', case=False, na=False)]
    print(len(df3))
    #df3['DNI']=dflista[df3['email']]
    #df3['score']=df3['score'].fillna(0)
    df3['score'].fillna(0)
    df3[nombre_columna]=10*df3['score']/df3['max_score']
    df3[nombre_columna] = df3[nombre_columna].round(0).astype('int')
    df4=df3[['DNI',nombre_columna]]
    df4.to_csv(nameout,header=True,index=False,sep=';')
    df3.to_csv("kk.csv",header=True,index=False,sep=';')
    return df4 

def procesa_csv2(csv_filename,notas_limpias_dir):

    nombre_columna=os.path.basename(csv_filename).replace(".csv","")
    print(nombre_columna)
    df=pd.read_csv(csv_filename)
    df2=df[ df['email'].notna()]
    df2.index=df2.email
    nameout=os.path.join(notas_limpias_dir, os.path.basename(csv_filename))
    df3=df2[['score','max_score','email']]
    df3['score'].fillna(0)
    
    alumnos=[]
    for index, row in df3.iterrows():
        alumno={}
        if row['email'] in tabla:
#            if "allovil2" in row['email']:
#                print("allovil2 found")
            alumno['DNI']=tabla[row['email']]
            alumno[nombre_columna]=int(round(row['score']/(0.0001+row['max_score'])*10))
            alumnos.append(alumno)
        else:
            print("NO en la lista:", row['email'])

    #print(alumnos)
   
    df4=pd.DataFrame(alumnos)
    #print(df4)
    df4.to_csv(nameout,header=True,index=False,sep=';')
    
    return df4

In [6]:
ficheros =glob.glob(notasdir+"/*.csv")
print(len(ficheros), " ficheros")

9  ficheros

In [7]:
for f in ficheros:
    print(f)
    a=procesa_csv2(f,notas_limpias_dir)

/home/profesor/Curso/notas/P0-TRX_Digital.csv
P0-TRX_Digital
/home/profesor/Curso/notas/P0-2.csv
P0-2
/home/profesor/Curso/notas/P0-4.csv
P0-4
/home/profesor/Curso/notas/P0-3.csv
P0-3
/home/profesor/Curso/notas/P0-1.csv
P0-1
/home/profesor/Curso/notas/P0-5.csv
P0-5
/home/profesor/Curso/notas/P1-1.csv
P1-1
/home/profesor/Curso/notas/autonomos-multiplex_temporal.csv
autonomos-multiplex_temporal
/home/profesor/Curso/notas/autonomos-crossfade.csv
autonomos-crossfade

In [8]:
   a.head()

        DNI  autonomos-crossfade
0  23937355                    7
1  54424941                    7
2  13180341                    7
3  20496960                    7
4  48599138                    0

In [9]:
f=os.path.join(notasdir,'P0-2.csv')
procesa_csv2(f,notas_limpias_dir)

P0-2

          DNI  P0-2
0    23937355    10
1    54424941    10
2    13180341    10
3    20496960    10
4    48599138     0
5    21700132    10
6    73668570     9
7    26630518    10
8    23855955     0
9    23938024     8
10   71357073     8
11   26636176     8
12   21797935     9
13   26330094     6
14   49742536     8
15   73661888    10
16   73607018    10
17   23823676    10
18   23318968    10
19   49426226    10
20   23824966    10
21   20936894    10
22   X8643318     8
23   X7189486    10
24   54290387    10
25   X6359423    10
26   44933826     9
27   49350217     0
28   23937775     9
29   23940406    10
30   53667422     7
31   53883523    10
32   20884616     8
33   23864767    10
34   23871998     0
35   49224239     5
36   13310082     9
37   Y1712772     7
38   23854781    10
39   23871968     7
40   23940978     0
41  P15781952     7
42   26637547     9
43   Y2962113     8